body {
    padding-top: var(--navbar-height);
    background-color: black;
    background-image: var(--bg-main);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-main);
    font-size: var(--font-size-m);
}

.btn:focus-visible {
    outline: 2px solid rgba(120, 160, 255, 0.8);
    outline-offset: 2px;
}


