
  <div class="container">
    <a class="navbar-brand d-flex align-items-lg-center" href="index.html">
      <img src="images/logo.svg"
           alt="Astraeus"
           class="navbar-logo"
           width="140"
           height="40">

    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#hamburger-button-list">

      <img src="./images/icons/hamburger.svg"
           class="hamburger"
           alt="Menu">
    </button>

    <div class="collapse navbar-collapse" id="hamburger-button-list">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="sky_events_calendar_page.html">SKYCAL</a></li>
        <li class="nav-item"><a class="nav-link" href="planetarium.html">Planetarium</a></li>
      </ul>
    </div>
  </div>
