<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="index.html">Lorem ipsum</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#hamburger-button-list">

      <img src="./images/icons/hamburger.svg"
           class="hamburger"
           alt="Menu">
    </button>

    <div class="collapse navbar-collapse" id="hamburger-button-list">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
      </ul>
    </div>
  </div>
</nav>